.topPanel{
    top: 0;
    left: 0;
    width: 100in;
    height: 70px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}
button{
    top: 18px;
    left: 1067px;
    width: 148px;
    height: 34px;
    background: #84B6A3 0 0 no-repeat padding-box;
    border-radius: 17px;
    text-align: left;
    font-family: "Montserrat Medium", sans-serif;
    font-size: 12px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
    cursor: pointer;
}

.leftPanel{
    top: 70px;
    left: 0;
    width: 307px;
    height: 698px;
    background: #84B6A3 0 0 no-repeat padding-box;
    opacity: 1;
}